body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #007bff;
    color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

header h1 {
    margin: 0;
    font-size: 24px;
    font-weight: bold;
}

header button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

header button:hover {
    background-color: #003f7f;
}

main {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#book-info {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #ddd;
}

#book-cover {
    width: 120px;
    height: 180px;
    object-fit: cover;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#book-info div {
    flex: 1;
}

#book-title {
    margin: 0 0 10px;
    font-size: 20px;
    font-weight: bold;
    color: #333;
}

#book-info p {
    margin: 5px 0;
    font-size: 16px;
    color: #555;
}

#detail-button {
    margin-top: 10px;
    padding: 10px 15px;
    font-size: 16px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#detail-button:hover {
    background-color: #0056b3;
}

#diary {
    width: calc(100% - 40px);
    margin: 20px auto;
    padding: 15px;
    font-size: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    height: 390px;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.1);
}

#save-button {
    display: block;
    width: calc(100% - 40px);
    margin: 20px auto;
    padding: 15px;
    font-size: 18px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
}

#save-button:hover {
    background-color: #115196;
}
